body {
    font-family: Arial, sans-serif;
    background-color: orange;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: red;
}

#cacdapan {
    margin-top: 50px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#ketqua {
    margin-top: 20px;
    font-weight: bold;
}
